<section id="new-task">
  <form [formGroup]="addFormControl" #newItem="ngForm" (ngSubmit)="onSubmit(newItem.value)">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput name="title" ngModel [formControl]="addFormControl">
      <mat-error *ngIf="addFormControl.hasError('required')">
        il titolo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="addFormControl.invalid"
    >Aggiungi</button>
  </form>
</section>